#app {
    text-align: center;
}
.form-control {
    width: max-content;
    margin-bottom: 0.5%;
}
.formular {
    display:table-caption;
}
.formular >.form-input {
    padding-top: 3%;
}
#lbl {
    color:dodgerblue;
}

#success {
    color:green;
    position: absolute;
    transform: translate(1350%, 11%);
    display:none;
}
#error {
    color:red;
    position: absolute;
    transform: translate(1664%, 11%);
    display:none;
}
#warning {
 color: orange;
    position: absolute;
    transform: translate(3580%, 11%);
    display:none;
}

span#spam1 {
 color:red;
    display:none;
}
span#spam2 {
 color:red;
    display:none;
}
#email {
    width: 130%;
}



































































































































































































































































































































